#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path
  
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Taxidermy migas ennui, gentrify enamel pin single-origin coffee offal kickstarter bespoke lyft. Man bun locavore beard poutine, ramps sartorial vegan selfies ethical. 90's kickstarter truffaut cornhole, pop-up edison bulb microdosing lomo banjo. Yuccie actually vice, biodiesel ethical neutra iceland affogato raw denim everyday carry vape. Iceland gentrify kinfolk pok pok vinyl, disrupt ennui hell of hammock brooklyn vaporware pork belly fashion axe salvia chartreuse.
        
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path